*{
    margin: 0px;
    padding: 0px;
    border: none;
    box-sizing: border-box;
}



#head-img{
    background: url('../images/ieee-banner.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 20rem;
    display: flex;
}


.my_form{
    display: flex;
    margin-top: 1rem;
    left: 30%;
    position:relative;
    width: max-content;
    height: max-content;
    opacity: 2;
    padding: 6rem 3.4rem 6rem 3.4rem;
    color: whitesmoke;
    background-color: rgb(45, 14, 77);
  
  }
  
  #template, #csv{
      background-color: black;
      color: wheat;
      cursor: pointer;
  }

 #template:hover, #csv:hover{
     background-color: green;
 }

 #template:active, #csv:active{
   background-color:red;
 }

  
#error-msg1, #error-msg2{
  font-size: 16px;
}

.bl1{
  display: flex;
  justify-content: center;
  background-color: black;
  width: 100%;
  height: 20rem;
}
.bl1 > #head-img{
  opacity: 1 ;
  display: flex;
  align-self: center;
  width:99.4%;
  height: 19.5rem;
}

footer{
  width: 100%;
  background-color:#2c3e50;
  font-size: 24px;
  display: flex;
  color:white;
  justify-content: center;
  
}

footer > p{
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}


.my_form{
  background-image: linear-gradient(
    to bottom,
    hsl(344, 100%, 50%),
    hsl(31, 100%, 40%)
  );


}






  @media screen and (max-width:980px)
  {
    .my_form{
      background-color: rgb(45, 14, 77);
      padding: 2rem 1.5rem 2rem 1.5;
      font-size: 15px;
      margin-left: -10rem;
    }
  }