<!DOCTYPE html>
<html>
<head>
	<title>Certificate Genreator</title>


	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'stylesheets/home.css') }}">
	<script type="text/javascript">
        function check()
        {
          var x = document.getElementById('template');
          var y = document.getElementById('csv');
          a = x.value.length;
          b = y.value.length;
          var x_val = x.value.substring(a-3);
          var y_val = y.value.substring(b-3);
          if(x.value == '' || y.value == '')
          {
            document.getElementById('error-msg1').innerHTML = 'File not Uploaded';
            document.getElementById('error-msg2').innerHTML = 'File not Uploaded';
            document.getElementById('m-form').action = 'javascript:void(0)';
          }
         
          else if(x.value == '' && y.value != '')
          {
            document.getElementById('error-msg1').innerHTML = 'File not Uploaded';
            document.getElementById('m-form').action = 'javascript:void(0)';
          }
          else if(y.value == '' && x.value != '')
          {
            document.getElementById('error-msg2').innerHTML = 'File not Uploaded';
            document.getElementById('m-form').action = 'javascript:void(0)';
          }
          else if(x_val != 'jpg' && x_val != 'png')
          {
            document.getElementById('error-msg1').innerHTML = 'Invalid file Format';
            document.getElementById('m-form').action = 'javascript:void(0)';
            
          }
          
          else if(y_val != 'txt')
          {
            document.getElementById('error-msg2').innerHTML = 'Invalid file Format';
            document.getElementById('m-form').action = 'javascript:void(0)';
            
          }
          else{
            var expression = /(^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$)/i ;
            var color_code = document.getElementById('fontcolor').value;
            console.log(typeof(color_code))
            console.log(expression.test(color_code));
            if(expression.test(color_code) == false)
            {
              $("#error-msg3").html("Invalid color code");
              document.getElementById('m-form').action = 'javascript:void(0)';
            }
            else
            {
             document.getElementById('m-form').action = '/perform';

            }
          }

        }

    // header image autochange
    var imgs = ['../static/images/ieee-banner.jpg', 
                '../static/images/ieee2.jpg', 
                '../static/images/ieee3.jpeg',
                '../static/images/ieee4.jpg'];
        var index = 0;
        setInterval(function(){
            if(index == imgs.length)
            {
                index = 0;
            }
            document.getElementById('head-img').src = imgs[index];
            index++;
        },3000);
       
    </script>
    
	<link rel="icon"  type="image/x-icon" href="{{ url_for('static', filename = 'images/favicon.png')}}" sizes="32x32"/>

	 <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/bd81c4ab1e.js" crossorigin="anonymous"></script>


    <!--meta tags-->
    <meta name="viewport " content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body>
     <div class="bl1">
      <img id="head-img" src="../static/images/ieee-banner.jpg"> 
     </div>
     <br>
        <div class="my_form" >
            <form id="m-form" method="POST" onsubmit="check()" action='' enctype="multipart/form-data">
                <div class="form-group">
                  <label for="template">Certificate Template</label>
                  <input name="template" type="file" class="form-control" id="template" aria-describedby="error-msg1">
                  <small id="error-msg1" style="color: wheat;">{{ msg }}</small>
                </div>
                <div class="form-group">
                  <label for="fontsize">Font Scale</label>
                  <input  name="fontsize" autocomplete="off" type="number" value="2" minlength="12" class="form-control" id="fontsize">
                  <br>
                  <label for="fontcolor">Font Color</label>
                  <input  name="fontcolor" autocomplete="off" type="text" placeholder="Paste your desired hexadecimal color code"  class="form-control" id="fontcolor">
                  <small id="error-msg3" style="color: wheat;">{{ msg }}</small>
                </div>
                <div class="form-group">
                    <label for="csv">Names Text File</label>
                    <input name="csv" type="file" class="form-control" id="csv" aria-describedby="error-msg2">
                    <small id="error-msg2" style="color: wheat;">{{ msg }}</small>
                  </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <br>
                <br>
                <a id="down-btn" href= "/static/{{c}}" style="display: {{ con }};" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" download>Download</a>
              </form>
        </div>
     <br>
    
     <footer style="height: 5rem;">
        <p>copy right  &copy IEEERIT Bangalore</p>
     </footer>
</body>
</html>