<!DOCTYPE html>
<html>
<head>
	<title>Certificate Genreator</title>


	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'stylesheets/home.css') }}">
	<script type="text/javascript">
        function check()
        {
          var x = document.getElementById('template');
          var y = document.getElementById('csv');
          var x_val = x.value.split(".")[1];
          var y_val = y.value.split(".")[1];
          if(x.value == '' || y.value == '')
          {
            document.getElementById('error-msg1').innerHTML = 'File not Uploaded';
            document.getElementById('error-msg2').innerHTML = 'File not Uploaded';
            document.getElementById('m-form').action = 'javascript:void(0)';
          }
         
          else if(x.value == '' && y.value != '')
          {
            document.getElementById('error-msg1').innerHTML = 'File not Uploaded';
            document.getElementById('m-form').action = 'javascript:void(0)';
          }
          else if(y.value == '' && x.value != '')
          {
            document.getElementById('error-msg2').innerHTML = 'File not Uploaded';
            document.getElementById('m-form').action = 'javascript:void(0)';
          }
          else if(x_val != 'jpg' && x_val != 'png')
          {
            document.getElementById('error-msg1').innerHTML = 'Invalid file Format';
            document.getElementById('m-form').action = 'javascript:void(0)';
            
          }
          
          else if(y_val != 'txt')
          {
            document.getElementById('error-msg2').innerHTML = 'Invalid file Format';
            document.getElementById('m-form').action = 'javascript:void(0)';
            
          }
          else{
            document.getElementById('m-form').action = '/perform';

          }

        }
       
       

    </script>
    
	<link rel="icon" type="image/png" href="{{ url_for('static', filename = 'images/favicon.ico')}}"/>

	 <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/bd81c4ab1e.js" crossorigin="anonymous"></script>


    <!--meta tags-->
    <meta name="viewport " content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body onload="setfun()" >
     <div id="head-img">

     </div>
     <br>
        <div class="my_form" >
            <form id="m-form" method="POST" onsubmit="check()" action='' enctype="multipart/form-data">
                <div class="form-group">
                  <label for="template">Certificate Template</label>
                  <input name="template" type="file" class="form-control" id="template" aria-describedby="error-msg1">
                  <small id="error-msg1" style="color: wheat;">{{ msg }}</small>
                </div>
                <div class="form-group">
                  <label for="fontsize">Font Size In Pixel</label>
                  <input  name="fontsize" autocomplete="off" type="number" value="2" minlength="12" class="form-control" id="fontsize">
                </div>
                <div class="form-group">
                    <label for="csv">Names Text File</label>
                    <input name="csv" type="file" class="form-control" id="csv" aria-describedby="error-msg2">
                    <small id="error-msg2" style="color: wheat;">{{ msg }}</small>
                  </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <br>
                <br>
                <a id="down-btn" href= "/static/{{c}}" style="display: {{ con }};" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" download>Download</a>
              </form>
        </div>
     <br>
    
     <footer style="height: 5rem;">

     </footer>
</body>
</html>